name: Weekly Discord Message
on:
  schedule:
    - cron: '0 4 * * 6'
  workflow_dispatch:
jobs:
  send_message:
    runs-on: ubuntu-latest
    steps:
      - name: Get Current Date and Day
        id: date
        run: |
          TARGET_DATE=$(TZ='Asia/Seoul' date -d "next wednesday" +'%Y-%m-%d')
          echo "formatted_date=${TARGET_DATE} μ" >> $GITHUB_OUTPUT
          
      - name: Create Forum Thread
        env:
          WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          TARGET_DATE=$(TZ='Asia/Seoul' date -d "next wednesday" +'%Y-%m-%d')
          FORMATTED_DATE="${TARGET_DATE} μ"
          
          # λ³€μ μ„ μ–Έ (= μ‚¬μ©, : μ κ±°)
          TAG_SCHEDULE="1475832651280551977"
          
          PAYLOAD=$(cat <<EOF
          {
            "thread_name": "[κ³µμ§€] ${FORMATTED_DATE} μΌμ •μ„ ν™•μΈν•΄μ£Όμ„Έμ”!",
            "content": "π“… <@&1455862575765000274> **λμ•„μ¤λ” μ£Ό μΌμ •μ„ ν™•μΈν•΄μ£Όμ„Έμ”!**\n\n> μΌμ • λ³€κ²½μ΄ ν•„μ”ν• κ²½μ° λ³Έ ν¬μ¤νΈμ— λ“κΈ€μ„\n> **μ›”μ”μΌ μ¤ν›„ 6μ‹**κΉμ§€ λ‚¨κ²¨μ£Όμ„Έμ” <:FKK_D_03:1456136749968265310>\n\nμ΄ν›„ κΈ‰ν• λ³€κ²½ μ‚¬ν•­μ€ λ³„λ„λ΅ μ—°λ½ λ¶€νƒλ“λ¦½λ‹λ‹¤!\n\n**π“ κΈ°μ΅΄ μ •κΈ° μΌμ •**\n- λ§¤μ£Ό μμ”μΌ μ¤ν›„ 9μ‹ 30λ¶„",
            "applied_tags": ["${TAG_SCHEDULE}"]
          }
          EOF
          )
          
          curl -X POST "${WEBHOOK_URL}?wait=true" \
            -H "Content-Type: application/json" \
            -d "${PAYLOAD}"
